<html>
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <a href="/home.html">메인</a>
    <table>
      <thead>
        <th>id</th>
        <th>username</th>
        <th>age</th>
      </thead>
      <tbody>
          <tr>
            <td>insu12</td>
            <td>여인수</td>
            <td>24</td>
          </tr>
          <tr>
            <td>woojin</td>
            <td>김우진</td>
            <td>24</td>
          </tr>
          <tr>
            <td>wowowowowo</td>
            <td>누구세요</td>
            <td>누구</td>
          </tr>
        </c:forEach>
      </tbody>
    </table>
  </body>
</html>